table.crmPermTable {	width: 100%; padding: 0px;	margin: 0px;}
tr.crmPermTableTrHeader th:first-child {	width: 139px;	border: 1px solid #ece8cb;	border-right: 0px;}
tr.crmPermTableTrHeader th.crmPermTableTrA { width: 16px;	padding: 2px 5px;}
tr.crmPermTableTrHeader th.last-child {	border-right: 1px solid #ece8cb;}
tr.crmPermTableTrHeader th {	padding: 2px 10px; 	text-align: center;	border-left: 0px;	background-color: #f4f0d2;	border-bottom: 1px solid #ece8cb;		height: 30px;	line-height: 30px;}
tr.crmPermTableTrRow td:first-child {	border-left: 1px solid #e3e3e3;	border-right: 0px;	padding-left: 15px;	text-align: left;}
tr.crmPermTableTrRow td.last-child {	border-right: 1px solid #e3e3e3;}
tr.crmPermTableTrRow td.crmPermTableTrA {	border-right: 1px solid #e3e3e3;	padding: 2px 10px;}
tr.crmPermTableTrRow td {	padding: 2px 10px; 	text-align: center;	border-bottom: 1px solid #e3e3e3;	border-left: 0px;	border-top: 0px;	height: 35px;	vertical-align: middle;}
tr.crmPermTableTrEmpty td {	text-align: center;	height: 35px;	padding: 2px 10px; 	border: 1px solid #e3e3e3;		border-top: 0px;}
select.crmPermAddBox {margin-right: 10px;}
#crmPermAddBoxPlace {padding-top: 20px;}
#crmPermButtonBoxPlace {	padding-top: 15px;}
.crmPermADelete { display: block;width: 13px; height: 13px; background:url(images/delete.gif) top left; cursor:pointer; margin-left: 3px}
.crmPermADelete:hover { display: block;width: 13px; height: 13px; background:url(images/delete.gif) bottom left; cursor:pointer; margin-left: 3px}
a#crmPermAddBoxA {font-size: 13px;margin-top: 5px; text-decoration: none; border-bottom: 1px dashed #0069c4; outline:none}
a#crmPermAddBoxA:hover  {text-decoration: none; border-bottom: 1px dashed #E00000}
span.divPermsBoxText{display:inline-block; color: #333; border-bottom: 1px dashed #999; padding: 0px 1px; /*padding-right: 20px;*/ cursor: pointer; }
span.divPermsBoxText:hover {border-bottom: 1px dashed #ff0000; color:#ff0000 /*background: url(images/arrow.gif) no-repeat center right;*/}

.crm_notice_message {
    background: url("./images/info.png") no-repeat scroll 10px 7px #FFFDC3;
    border: 1px solid #FFCA63;
    margin: 1.117em 0;
    padding: 0.4em 1.117em 0.4em 2.4em;
}
.crm_notice_arrow {
    background: url("./images/arrow.png") no-repeat scroll 0 2px transparent;
    display: inline-block;
    height: 11px;
    width: 13px;
}