.task-main-wrap {
	color:#000;
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}
.task-top-panel-one{
	height: 40px;
	margin-bottom: 20px;
}

.tasks-top-menu {
	height: 47px;
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
	padding: 5px 0 0;
	border-bottom: 1px solid #f0f1f2;
}

.tasks-top-item-wrap {
	display: inline-block;
	margin-bottom: 12px;
	vertical-align: top;
}

.tasks-top-item,
.tasks-top-item-more {
	border: 1px solid #fff;
	border-radius: 5px;
	color: #4f5d67;
	display: inline-block;
	height: 40px;
	line-height: 39px;
	font-size: 15px;
	margin: 2px 16px 6px 0;
	min-width: 60px;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 0 12px 0 8px;
	position: relative;
	vertical-align: top;
}

.tasks-top-item-more {
	margin-right: 10px;
}

.tasks-top-item:hover,
.tasks-top-item-more:hover {
	border-color: #f1f1f1 #d8d8d8 #a9a9a9;
	background-color: #eaf0f2;
	background-image: -webkit-linear-gradient(top, #f9f9fa, #dee9ec);
	background-image:    -moz-linear-gradient(top, #f9f9fa, #dee9ec);
	background-image:     -ms-linear-gradient(top, #f9f9fa, #dee9ec);
	background-image:      -o-linear-gradient(top, #f9f9fa, #dee9ec);
	background-image:         linear-gradient(to bottom, #f9f9fa, #dee9ec);
	-webkit-box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255, 255, 255, .3), 0 1px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255, 255, 255, .3), 0 1px 0 rgba(0, 0, 0, .1);
	color: #2f3941;
	text-decoration: none;
}

.tasks-top-item-wrap:active .tasks-top-item,
.tasks-top-item-wrap-active .tasks-top-item,
.tasks-top-more-wrap .tasks-top-item-more:active,
.bx-menu-btn-more-active .tasks-top-item-more {
	background-color: #e3ebed;
	background-image: -webkit-linear-gradient(top, #dde7e9, #e9eff1);
	background-image:    -moz-linear-gradient(top, #dde7e9, #e9eff1);
	background-image:     -ms-linear-gradient(top, #dde7e9, #e9eff1);
	background-image:      -o-linear-gradient(top, #dde7e9, #e9eff1);
	background-image:         linear-gradient(to bottom, #dde7e9, #e9eff1);
	-webkit-box-shadow: inset 0 1px 1px #bbc3c4;
	box-shadow: inset 0 1px 1px #bbc3c4;
	border-color: #abb2b4 #cad1d3 #e0e6e8;
	border-radius: 3px;
	color: #2f3941;
	height: 38px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.tasks-top-item-wrap.tasks-top-item-wrap-all {
	border-right: 1px solid #eeeeee;
	-webkit-box-shadow: inset -1px 0 0 #f9f9f9;
	box-shadow: inset -1px 0 0 #f9f9f9;
	margin-right: 10px;
}

.tasks-top-item-wrap-all .tasks-top-item {
	margin-right: 6px;
}

.tasks-top-item-text {
	display: inline-block;
	vertical-align: top;
}

.tasks-top-item-counter {
	top: -4px;
	right: -7px;
	position: absolute;
}

.tasks-top-item:active .tasks-top-item-counter,
.tasks-top-item-more:active .tasks-top-item-counter {
	top: -5px;
}

.tasks-top-item-icon {
	background: url(images/panel/tasks-menu-sprite.png?v=3) no-repeat 100px;
	display: inline-block;
	height: 20px;
	margin-top: 10px;
	vertical-align: top;
	width: 20px;
}

.tasks-icon-do {background-position: center -4px;}
.tasks-icon-help {
	background-position: center -122px;
	margin-right: 2px;
}
.tasks-icon-watch {
	background-position: center -42px;
	margin-right: 3px;
}
.tasks-icon-delegate {	background-position: center -84px;}
.tasks-icon-all {background-position: center -162px;}
.tasks-icon-lead {background-position: center -206px;}
.tasks-icon-projects {background-position: center -292px;}
.tasks-icon-reports {background-position: center -250px;}
.tasks-icon-favorite {background-position: center -388px;}
.tasks-icon-more {background-position: center -333px;}
.tasks-icon-apps {background-position: center -415px;}


.tasks-top-more-wrap {
	display: inline-block;
	height: 46px;
}

.tasks-top-item-arrow {
	background: url(images/panel/tasks-menu-sprite.png) no-repeat center -371px;
	display: inline-block;
	vertical-align: top;
}

.menu-popup-item.tasks-top-popup-item {
	height: 37px !important;
	min-width: 130px;
}

.menu-popup-item.tasks-top-popup-item .menu-popup-item-text {
	color: #4f5d67;
	font-size:15px;
	line-height:38px;
	height: 37px;
}

.tasks-top-popup-item .menu-popup-item-icon {
	background: url(images/panel/tasks-menu-sprite.png) no-repeat 100px;
	display: inline-block;
	height: 37px;
	margin:0 6px;
	vertical-align: top;
	width: 20px;
}

.tasks-top-popup-do .menu-popup-item-icon {
	background-position: center 5px;
	margin: 0 3px 0 9px;
}
.tasks-top-popup-help .menu-popup-item-icon {
	background-position: center -113px;
}
.tasks-top-popup-watch .menu-popup-item-icon{
	background-position: center -33px;
	margin: 0 4px 0 8px;
}
.tasks-top-popup-delegate .menu-popup-item-icon {
	background-position: center -75px;
	margin: 0 4px 0 8px;
}
.tasks-top-popup-all .menu-popup-item-icon {
	background-position: center -154px;
	margin: 0 5px 0 7px;
}
.tasks-top-popup-favorite .menu-popup-item-icon {
	background-position: center -378px;
	margin: 0 5px 0 7px;
}
.tasks-top-popup-lead .menu-popup-item-icon {
	background-position: center -197px;
}
.tasks-top-popup-projects .menu-popup-item-icon {
	background-position: center -283px;
	margin: 0 4px 0 8px;
}
.tasks-top-popup-reports .menu-popup-item-icon {
	background-position: center -240px;
	margin: 0 4px 0 8px;
}
.tasks-top-popup-apps .menu-popup-item-icon {
	background-position: center -405px;
	margin: 0 4px 0 8px;
}



/*
.task-main-top-menu{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 230px;
}
.task-main-top-menu li{
	padding: 0;
	display: inline-block;
	margin: 0 10px 0 0;
}
.task-main-top-menu li a{
	font-size: 15px;
	color: #4f5d67;
	text-decoration: none;
	display: block;
	padding: 12px 10px 8px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 4px;
	position: relative;

}
.task-main-top-menu li a:hover{
	color: #000;
}
.task-main-top-menu li.active a,
.task-main-top-menu li a:active{
	background: #eef3f4 !important;
	-webkit-box-shadow: inset 0 -1px 0 #ebeef0, inset 0 1px 0 #bbc2c5, inset 0 2px 0 0 #cfd7da, inset 0 1px 2px 1px #d1d7d9, inset 0 0 0 1px #d5dbdc !important;
	box-shadow: inset 0 -1px 0 #ebeef0, inset 0 1px 0 #bbc2c5, inset 0 2px 0 0 #cfd7da, inset 0 1px 2px 1px #d1d7d9, inset 0 0 0 1px #d5dbdc !important;
	background-image: -webkit-linear-gradient(top, #e4ecee, #f3f6f7)!important;
	background-image: -moz-linear-gradient(top, #e4ecee, #f3f6f7)!important;
	background-image: -o-linear-gradient(top, #e4ecee, #f3f6f7)!important;
	background-image: -ms-linear-gradient(top, #e4ecee, #f3f6f7)!important;
	background-image: linear-gradient(top, #e4ecee, #f3f6f7)!important;
}
.task-main-top-menu li a span{
	display: inline-block;
	background:url(images/panel/topnav_sprites.png) no-repeat;
	margin-right: 5px;
	position: relative;
	margin-bottom: -3px;
}



.task-main-top-menu li.s-1 a span{
	background-position: 0 0;
	width: 12px;
	height: 19px;
}
.task-main-top-menu li.s-2 a span{
	background-position: -14px 0;
	width: 20px;
	height: 19px;
}
.task-main-top-menu li.s-3 a span{
	background-position: -36px 0;
	width: 20px;
	height: 19px;
}
.task-main-top-menu li.s-4 a span{
	background-position: -58px 1;
	width: 14px;
	height: 19px;
}
.task-main-top-menu li.s-5 a span{
	background-position: -74px 0;
	width: 20px;
	height: 19px;
}
.task-main-top-menu li.s-6 a span{
	background-position: -96px 0;
	width: 17px;
	height: 19px;
}
.task-main-top-menu li.s-7 a span{
	background-position: -115px 0;
	width: 16px;
	height: 19px;
}
*/


/*.task-main-top-menu-icon-counter,
.task-direct-total .task-direct-counter {
	background-color: #da5151;
	background-image: -webkit-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -moz-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -o-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: linear-gradient(to bottom, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.32);
	box-shadow: 0 2px 4px rgba(0,0,0,.32);
	color: #fff;
	right: -6px;
	line-height: 16px;
	height: 16px;
	font-size: 12px;
	font-weight: bold;
	top: -4px;
	text-shadow: 0 1px rgba(0,0,0,.15);
	min-width: 11px;
	text-align: center;
	padding: 0 3px;
	position: absolute;
}*/

.task-search-top-block{
	position: absolute;
	right: 0;
	top: 4px;
	width: 220px;
}

.task-top-panel-two {
	color: #4f5d67;
	min-height: 42px;
	line-height: 42px;
	margin-bottom: 13px;
	padding: 0 0;
	font-size: 18px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	position: relative;
}

.task-top-panel-text {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	line-height: normal;
}

.task-top-panel-two .webform-small-button-transparent {
	margin-right: 5px;
}


.task-top-panel-disabled-menu-item {
	cursor: default !important;
	opacity: 0.5 !important;
}


.mp_top_nav_ul_sub {
	display: none;
	position: absolute;
	margin: 2px 0 0;
	padding: 8px;
	left: -1px;
	background: #f8fafb;
	border: 1px solid #d4e0e2;
	z-index: 200;
	border-radius: 3px;
	box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.4), 0 20px 18px 0 rgba(88,112,118,.13);
}

.mp_top_nav_ul_sub.active{display: block;}
.mp_top_nav_ul_sub li {
	list-style: none;
	white-space: nowrap;
	display: block;
}

.mp_top_nav_ul_sub li a {
	display: block;
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	text-decoration: none;
	font-size: 13px;
	padding: 8px;
}
.mp_top_nav_ul_sub li a:hover {
	border-radius: 3px;
	background: #f0f5f5;
	padding: 8px;
	/*border: 1px solid #b4bdbe;*/
	box-shadow: inset 0 1px 3px 1px rgba(36,51,56,.19);
}
.tasks_li_bottom_arrow{
	line-height: 28px;
	display: inline-block;
	width: 7px;
	height: 6px;
	margin-left: 10px;
	background:url(images/panel/topnav_sprites.png) no-repeat;
	background-position: -136px -8px;
}
.task-top-panel-two-inright{
	position: absolute;
	right: 0;
	top:0;
}

.task-top-panel-two-inright .task-top-panel-text {
	font-size: 14px;
}

.task-top-panel-two-inright .bx-filter-button {
	margin-right: 0;
}

.task-top-panel-tre{
	background: #fcfce9;
	border-radius: 4px;
	border: 1px #f0e8d7 solid;
	padding: 0 10px;
	min-height: 42px;
	line-height: 42px;
	box-shadow: inset 0 1px 0 0 #fff;
	word-spacing: 10px;
	color: #4f5d67;
	margin-bottom:10px;
}
.task-top-panel-tre a {
	text-decoration: underline;
}
.task-main-notification-icon-counter,
.tasks-top-item-counter,
.tasks-top-item-orange-counter {
	background-color: #da5151;
	background-image: -webkit-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -moz-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -o-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -ms-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.32);
	box-shadow: 0 2px 4px rgba(0,0,0,.32);
	color: #fff;
	line-height: 16px;
	height: 16px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0,0,0,.15);
	min-width: 11px;
	text-align: center;
	padding: 0 3px;
	display: inline-block;
}

.tasks-top-item-orange-counter {
	background-color: #e89c38;
	background-image: -webkit-linear-gradient(top, #f2bd5a 0%, #eea636 50%, #e99008 51%, #e78207 100%);
	background-image:    -moz-linear-gradient(top, #f2bd5a 0%, #eea636 50%, #e99008 51%, #e78207 100%);
	background-image:     -ms-linear-gradient(top, #f2bd5a 0%, #eea636 50%, #e99008 51%, #e78207 100%);
	background-image:      -o-linear-gradient(top, #f2bd5a 0%, #eea636 50%, #e99008 51%, #e78207 100%);
	background-image:         linear-gradient(to bottom, #f2bd5a 0%, #eea636 50%, #e99008 51%, #e78207 100%);

}

.task-top-panel-tre span{
	word-spacing: normal;
}
.task-green-text{
	font-size: 13px;
	color: #2a820b;
	word-spacing: normal;
}
.task-red-text{
	font-size: 13px;
	color: #c63734;
	word-spacing: normal;
}
.task-brown-text{
	font-size: 13px;
	color: #9a6d1e;
	word-spacing: normal;
}
.task-green-text:hover,
.task-red-text:hover,
.task-brown-text:hover{text-decoration: underline;}
.task-main-notification-icon-closed{
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top:-5px;
	cursor: pointer;
	background:url(images/panel/topnav_sprites.png) no-repeat;
	background-position: -149px -3px;
	width: 10px;
	height: 10px;
}

.task-search {
	border-radius:2px;
	border:1px solid;
	border-color:#ced0d1 #d1d3d5 #d3d6d8;
	box-shadow:inset 0 1px 2px 0 #e3e3e3;
	display:block;
	height:31px;
}

.task-search-btn {
	background:url("images/panelcrm-control-panel-sprite-4.png") no-repeat center -504px;
	cursor:pointer;
	display:block;
	float:right;
	height:31px;
	width:37px;
}

.task-search-btn:hover {background-position:center -477px}

.task-search-inp-wrap {
	display:block;
	overflow:hidden;
	padding:5px 0 0 9px;
}

.task-search-inp-wrap {
	display:block;
	overflow:hidden;
	padding:5px 0 0 9px;
}
.task-search-inp {
	background:#fff;
	border:none;
	color:#000;
	height:19px;
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	outline:none;
	padding:0;
	width:100%;
}

/* Task Toolbar */
.task-list-toolbar { position: static !important; height: 28px; padding: 0 0 14px 0;}
.task-list-toolbar-search {
	position: static !important;
	float: left;
	margin-left:10px;
}
.task-list-toolbar-search-input {
	width: 180px;
	height: 25px;
	margin-top: 1px;
	padding: 0 25px 0 4px;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8 #babec0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	outline:none;
	font-size:13px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.task-list-toolbar-search-reset { display:inline-block; position:relative; left: -19px; top: 6px; vertical-align: top;  width: 13px; height: 19px; background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -280px; cursor: pointer; }
.task-list-toolbar-search-reset:hover { background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -280px; }
.task-list-toolbar-search-icon { display: inline-block; vertical-align:top; width: 15px; height: 15px; position: relative; left: -23px; top: 7px; cursor: pointer;}
.task-list-toolbar-actions { position: static !important; float: left; }
.task-list-toolbar-create .webform-small-button-icon { width: 11px; height: 11px; margin-right: 9px; }
.task-list-toolbar-templates .webform-small-button-icon { width: 20px; height: 14px; }
.task-list-toolbar-lightning .webform-small-button-icon { width: 8px; height: 12px; }
.task-list-toolbar-filter { margin: -3px 3px 0 3px; }
.task-list-toolbar-filter .webform-small-button-icon { width: 7px; height: 8px; margin-left:7px; }
.task-list-toolbar-legenda { margin-left: 2px; display: none; }
.task-list-toolbar-legenda-icon { display:  inline-block; width: 16px; height: 17px;}

a.task-main-top-menu-filter {
	display: inline-block;
	background:url(images/panel/1374435884_filter.png) no-repeat;
	width:26px;
	height:26px;
	position:relative;
	top:7px;
	text-decoration:none;
}

a.task-main-top-menu-filter:hover
{
	text-decoration:none;
}

.task-main-top-menu-advanced-filter
{
	word-spacing:0;
}
