#contacts_by_managers_chart {
	width: 100%;
	height: 360px;
}

.ricc-widgets {
	margin-top: 20px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
}
.ricc-widgets__row {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.ricc-widgets__rows {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}
.ricc-widgets__row:first-child {
	margin-top: 0;
}
.ricc-widgets__col {
	margin-left: 20px;
}
.ricc-widgets__col:first-child {
	margin-left: 0;
}
.ricc-widgets__col.is-10 { width: 10%; }
.ricc-widgets__col.is-20 { width: 20%; }
.ricc-widgets__col.is-30 { width: 30%; }
.ricc-widgets__col.is-40 { width: 40%; }
.ricc-widgets__col.is-50 { width: 50%; }
.ricc-widgets__col.is-60 { width: 60%; }
.ricc-widgets__col.is-70 { width: 70%; }
.ricc-widgets__col.is-80 { width: 80%; }
.ricc-widgets__col.is-90 { width: 90%; }
.ricc-widgets__col.is-100 { width: 100%; }

.ricc-number {
	background: #CCCCCC;
	color: white;
	box-sizing: border-box;
	padding: 20px;
}
.ricc-number.is-green { background-color: #22D02C; }
.ricc-number.is-yellow { background-color: #F6D53C; }
.ricc-number.is-blue { background-color: #56C5D2; }
.ricc-number.is-orange { background-color: #FC6621; }
.ricc-number.is-red { background-color: #FC171C; }

.ricc-number__title {

}
.ricc-number__number {
	text-align: right;
	font-size: 200%;
}
