#login-form-window
{
	display:none;
	background:#ffF;

	z-index:10000;
	position:absolute;
	top:68px;
	right:20px;
	width:235px;
	color: #323232;
	line-height:18px;
	font-size:12px;
	border:1px solid #708a96;
}


.login-form-overlay
{
	display:none;
	height:100%;
	background:black;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:98;
	opacity: 0.3; 
	-moz-opacity: 0.3; 
	-khtml-opacity: 0.3; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

#login-form-window a
{
	color:#3366cc !important;
	text-decoration:underline;
	font-size:11px;
}

#login-form-window form
{
	margin:0;
	padding:0;
}

label.remember-text
{
	font-size:11px;
	line-height:12px;
}

#close-form-window
{
	float:right;
	cursor:pointer; cursor:hand;
	background: url(images/close.gif) right center no-repeat;
	padding-right:15px;
}

#login-form-window-header
{
	padding:6px 10px;
	font-size:11px;
	background: #cfdfe6 url(images/login-form-header-bg.gif) repeat-x;
	margin-bottom:10px;
	
}

div.auth-welcome
{
	font-size:12px;
	color:#81acc0;
}

div.auth-links
{
	font-size:11px;
	margin-bottom:8px;
	margin-top:8px;
}

div.auth-links span
{
	font-size:10px;
	color:#81acc0;
}

div.auth-links a, div.auth-welcome a
{
	text-decoration:none;
	color:#0C4797;
}
div.auth-welcome a
{
	padding:3px; 
	padding-right:19px; 
	padding-left:8px; 
	background-image:url(images/arrow.gif); 
	background-position:right center; 
	background-repeat:no-repeat;
}
div.auth-welcome a:hover, div.auth-welcome a.pressed
{
	border:1px solid #81acc0; 
	padding-right:18px; 
}
/* Popup menu */
td.popupmenu {border:1px solid #B6B6B6 !important; padding:1px !important; background-color:#FCFCFC !important; background-image:url(images/menu_gutter.gif) !important; background-repeat:repeat-y !important;}
td.popupmenu .popupitem {margin:1px !important; cursor:default !important;}
td.popupmenu .popupitemover {margin:0px !important; border:1px solid #AEB6C2 !important; background-color:#CEDAEE !important;}
td.popupmenu .popupitem .gutter {width:20px !important;}
td.popupmenu .popupitem .item {padding:3px 5px 3px 9px !important; font-size:11px !important; white-space:nowrap !important;}
td.popupmenu .popupitem .default {font-weight:bold !important;}
td.popupmenu .popupitem .disabled {color:#939393 !important;}
td.popupmenu .popupseparator {margin:1px 0px 1px 30px !important; background-color:#B6B6B6 !important; height:1px !important; overflow:hidden !important;}

.auth-icon-active
{
	background-image:url(images/bp_anim.gif);
	background-repeat:no-repeat;
	height:13px;
	padding-left:20px;
	line-height:13px;
	display:inline-block;
}

.auth-icon
{
	background-image:url(images/bp.gif);
	background-repeat:no-repeat;
	height:13px;
	padding-left:15px;
	line-height:13px;
	display:inline-block;
	zoom:1;
}
.auth-button-message
{
	background-image:url(images/icon_my_messages.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}
.auth-button-page
{
	background-image:url(images/icon_my_page.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}
.auth-button-profile
{
	background-image:url(images/icon_edit_profile.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}