.left-menu
{
	border:1px solid #e0e0e0;
	padding-bottom: 5px;
}

.left-menu div
{
	margin:9px 9px 9px 15px;
}

.left-menu-header
{
	font-weight:bold;
	font-size:12px;
	background:#e9e9e9 url(images/data-table-bg.gif) left top repeat-x;
	padding:8px;
	color:#072838;
	padding-left:16px;
	padding-bottom:9px;
	margin:0 !important;
}




.left-menu div.separator
{
	zoom:1;
	height:1px;
	font-size:1px;
	margin:0 10px;
	border-top: 1px solid #e0e0e0;
}

.left-menu div.directory
{
	background:url(images/arrow.gif) right 65% no-repeat;
}

.left-menu a
{
	font-size:12px;
	text-decoration:none;
	color:#333333;
	font-weight:bold;

}

.left-menu a.selected
{
	color:#c83f3f;
}