div.settings-float-form {background-color:#F8F9FC; border:1px solid #ABB7D8; width:510px;}
div.settings-float-form div.content {margin:0px; padding:5px; background-color:white;}
div.settings-float-form div.content td {font-size:70%; padding:2px;}
div.settings-float-form div.buttons {text-align:center; margin:10px;}
div.settings-float-form h2 {margin:8px 0px 8px 0px; font-size:75%;}
div.settings-float-form .button {margin:2px 0px 2px 0px; width:80px;}
div.settings-float-form div.title {background-color:#23468A; background-image:url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/title_bg.gif); background-repeat:repeat-x; background-position:left top;}
div.settings-float-form div.title td.title-text {font-size:11px; font-weight:bold; color:#EEF1F7; padding:3px; cursor:move; vertical-align:top; text-align: left;}
div.settings-float-form a.close {display:block; width:13px; height:13px; background-image:url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/close.gif); overflow:hidden; margin:3px; background-repeat:no-repeat; background-position:top left;}

div.bx-entity-section-list {background-color:white; border:1px solid #B8C1DD; overflow: auto; height: 375px;}

div.bx-entity-section {height: 21px; white-space: nowrap; overflow: hidden; margin: 1px; cursor: pointer; background-position: left center; background-repeat: repeat-x; background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/subgroup_bg.gif); text-align: left;}

div.bx-entity-section-first {height: 21px; white-space: nowrap; overflow: hidden; margin: 1px; cursor: pointer; background-position: left center; background-repeat: repeat-x; background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/group_bg_active.gif); color: white; text-align: left;}

div.bx-entity-section-name {height: 21px; padding-left: 25px; white-space: nowrap; overflow: hidden; margin-bottom: 1px; cursor: pointer; background-repeat: no-repeat; font-size: 12px; line-height: 18px;}

div.bx-entity-section div.bx-entity-section-name {color: black;}
div.bx-entity-section div.bx-emp-closed {background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/arrow_right.gif); background-position: 10px 7px;}
div.bx-entity-section-first div.bx-emp-closed {background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/arrow_right_white.gif); background-position: 10px 7px;}

div.bx-entity-section-first div.bx-entity-section-name {color: white;}
div.bx-entity-section div.bx-emp-opened {background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/arrow_down.gif); background-position: 10px 8px;}
div.bx-entity-section-first div.bx-emp-opened {background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/arrow_down_white.gif); background-position: 10px 8px;}

div.bx-entitys-list {font-size: 11px; text-align: left;}

div.bx-entity-row {cursor: pointer; margin-bottom: 2px; height: 34px; clear: both;}
div.bx-entity-row input {float: left; margin-left: 5px; margin-top: 7px;}
div.bx-entity-row .bx-entity-photo {height: 30px; width: 30px; border: solid 1px #C4C4C4; padding: 1px; text-align: center; float:left; background-color: white;}
div.bx-entity-row .bx-no-photo {background-image: url(/bitrix/components/bitrix/crm.entity.search/templates/.default/images/nopic_user_30_noborder.gif); background-repeat: no-repeat; background-position: center center;}
div.bx-entity-row .bx-entity-info {margin-left: 55px; padding: 2px; font-size: 12px;}
div.bx-entity-row .bx-entity-info .bx-entity-name{font-weight: bold; font-size: 13px;}
div.bx-emp-selected {background-color: #f3f3e3;}

input.bx-search-control-empty {font-style: italic; color: #CACACA;}
div.bx-emp-search-result {
	background-color: white;
	border: solid 1px #ABB7D8;
	position: absolute;
	width: 494px;
	padding: 1px;
	font-size: 12px;
}

div.bx-emp-search-result-row {
	padding: 5px;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
}

div.bx-emp-search-result-row:hover, div.bx-emp-search-result-row-selected {
	background-color: #f3f3e3;
}