.ricc_contacts_filter {
	font: 14px/18px "OpenSans-Semibold","Helvetica Neue",Arial,Helvetica,sans-serif;
}
.ricc_contacts_filter__list {
	list-style: none;
	margin: 0;
	padding: 0 25px;
}
.ricc_contacts_filter__item {
	display: inline-block;
	padding: 5px 0;
	margin: 10px 10px;
	color: #545c6a;
	cursor: pointer;
	box-sizing: border-box;
}
.ricc_contacts_filter__item:first-child {
	margin-left: 0;
}
.ricc_contacts_filter__item:hover {
	color: #1058d0;
}
.ricc_contacts_filter__item.is-current {
	color: #1058d0;
	border-bottom: 2px solid #1058d0;
}