#login-form-window
{
	display:none;
	background:#ffF;

	z-index:10000;
	position:absolute;
	top:68px;
	right:20px;
	width:235px;
	color: #000;
	line-height:18px;
	font-size:12px;
	border:1px solid #783434;
	text-align: left;
}


.login-form-overlay
{
	display:none;
	height:100%;
	background:black;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:98;
	opacity: 0.3; 
	-moz-opacity: 0.3; 
	-khtml-opacity: 0.3; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

#login-form-window a
{
	color:#3366cc !important;
	text-decoration:underline;
	font-size:11px;
}

#login-form-window form
{
	margin:0;
	padding:0;
}

label.remember-text
{
	font-size:11px;
	line-height:12px;
}

#close-form-window
{
	float:right;
	cursor:pointer; cursor:hand;
	background: url(images/close.gif) right center no-repeat;
	padding-right:15px;
}

#login-form-window-header
{
	padding:6px 10px;
	font-size:11px;
	background: #eccdcd url(images/login-form-header-bg.gif) repeat-x;
	margin-bottom:10px;
	
}

div.auth-welcome
{
	font-size:12px;
	color:#fff;
	padding-top:4px;
}

div.auth-links
{
	font-size:11px;
	margin-bottom:8px;
	margin-top:8px;
}

div.auth-links span
{
	color:#e58b8b;
}

div.auth-links a, div.auth-welcome a
{
	text-decoration:none;
	color:#fff;
}
div.auth-welcome a
{
	padding:3px 1px 4px 8px;
	border:none; 
}
div.auth-welcome a:hover, div.auth-welcome a.pressed
{
	padding:2px 0px 3px 7px;
	border:1px solid #e58b8b; 
}
div.auth-welcome div
{
	padding-right: 19px;
	background-image:url(images/arrow.gif); 
	background-position:right center; 
	background-repeat:no-repeat;
	display:inline;
}

/* Popup menu */
div.bx-popup-menu td, div.bx-popup-menu table, div.bx-popup-menu tr, div.bx-popup-menu tbody {color:black !important; border:none !important; border-spacing:0 !important; background:transparent !important; width:auto !important; font-weight:normal !important; letter-spacing:normal !important; font-variant:normal !important;font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; vertical-align:middle !important; white-space:normal !important; letter-spacing:0 !important;text-decoration: none !important;table-layout:auto !important; text-align:left !important; padding:0px !important; margin:0px !important; height:auto !important; line-height:normal !important; font-size:medium !important;}
div.bx-popup-menu td.popupmenu {border:1px solid #B6B6B6 !important; padding:1px !important; background:#FCFCFC url(/bitrix/themes/.default/images/menu_gutter.gif) repeat-y !important; width:100% !important;}
td.popupmenu div.popupitem table{width:100% !important;}
td.popupmenu div.popupitem {margin:1px; cursor:default;}
td.popupmenu div.popupitemover {margin:0px; border:1px solid #AEB6C2; background-color:#CEDAEE !important;}
td.popupmenu div.popupitem td.gutter {width:22px !important;}
td.popupmenu div.popupitem td.arrow {width:10px !important; background:transparent url(/bitrix/themes/.default/images/menu_arrow.gif) 2px center no-repeat !important;}
td.popupmenu div.popupitem td.item {padding:3px 7px 3px 9px !important; font-family:Verdana,Arial,sans-serif; font-size:11px !important; white-space:nowrap !important; color:black !important; line-height:normal !important; font-weight:normal !important;}
td.popupmenu div.popupitem td.default {font-weight:bold !important; line-height:normal !important;}
td.popupmenu div.popupitem td.disabled {color:#939393 !important;}
td.popupmenu div.popupseparator {margin:1px 0px 1px 30px; background-color:#B6B6B6; height:1px; overflow:hidden;}
td.popupmenu div.popupitem div.icon {width:22px; height:20px; background-position:center; background-repeat:no-repeat;}

.auth-icon-active
{
	background-image:url(images/bp_anim.gif);
	background-repeat:no-repeat;
	height:13px;
	padding-left:20px;
	line-height:13px;
	display:inline-block;
}

.auth-icon
{
	background-image:url(images/bp.gif);
	background-repeat:no-repeat;
	height:13px;
	padding-left:15px;
	line-height:13px;
	display:inline-block;
}
.auth-button-message
{
	background-image:url(images/icon_my_messages.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}
.auth-button-page
{
	background-image:url(images/icon_my_page.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}
.auth-button-profile
{
	background-image:url(images/icon_edit_profile.gif);
	background-repeat:no-repeat;
	height:17px;
	width:17px;
	
}