.left-menu
{
	width:196px;
	border:1px solid #bfcfe6;
	border-left:none;
	background:#f5fdff;
	overflow:hidden;
}

.left-menu div
{
	margin:9px 18px;
}

.left-menu div.separator
{
	width:100%;
	height:1px;
	font-size:1px;
	margin:0;
	background:url(images/menu-items-separator.gif) left no-repeat;
}

.left-menu div.directory
{
	background:url(images/arrow.gif) right 65% no-repeat;
}

.left-menu a
{
	font-size:12px;
	text-decoration:none;
	color:#205091;
	font-weight:bold;

}

.left-menu a.selected
{
	color:#c83f3f;
}