/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,cyrillic);

html { height: 100%; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.div-button{
	   clear: both;
	  position: relative; 
	   top: 40px;
	   margin: 40px 0;
}

a.button7 {
 cursor :pointer;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

#sign {width: 110px;height: 33px;padding: 0;margin: 0;position: fixed;right: 0;bottom: 0;}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
   font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    font-weight: 400;
    font-size: 10pt;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;

}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 1640px;
    position: relative;
    margin: 0 auto;
    height: 900px;
}

.main,
.container > header {
	width: 90%;
	max-width: 76em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 65%;
	font-weight: 300;
}

/* Header Style */
.adatum-top {
	line-height: 2.5;
	font-size: 0.688em;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.adatum-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.adatum-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.adatum-top span.right {
	float: right;
}

.adatum-top span.right a {
	float: left;
	display: block;
}

button,
.button {

  font-weight: 400;
  font-size: 10pt;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 50px;
  margin-bottom: 10px;
   margin-top: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 10px;
  position: relative;

}
button.standart,
.button.standart {
  min-width: 90px;
  min-height: 32px;
}
button:active,
.button:active,
button.default:active,
.button.default:active {
  top: 1px;
  left: 1px;
}
button:disabled,
.button:disabled,
button.disabled,
.button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
button.default,
.button.default {
  background-color: #008287;
  color: #fff;
}
button:focus,
.button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}

a.button:hover,
a.button:active {
  color: #199be6;
}
a.button.big {
  padding: 14px 10px;
}

.center {text-align: center;}
.def{
 font-size: 8pt;
  color: #d7e4ea;
}

ul li textarea {
    min-width: 280px;
    min-height: 100px;
}


.main-grid-ear {
    position: fixed;
    width: 50px;
    height: 160px;
    margin-bottom: -80px;
    z-index: 1;
    opacity: 0.7;
    will-change: transform;
    -webkit-transform: translate3d(0px,48px,0);
    -moz-transform: translate3d(0px,48px,0);
    -ms-transform: translate3d(0px,48px,0);
    -o-transform: translate3d(0px,48px,0);
    transform: translate3d(0px,48px,0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}


.main-grid-ear-right {
    background:url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M40.024%2C0H42a0%2C0%2C0%2C0%2C1%2C0%2C0V81a0%2C0%2C0%2C0%2C1%2C0%2C0H40.977A40.977%2C40.977%2C0%2C0%2C1%2C0%2C40.024v0A40.024%2C40.024%2C0%2C0%2C1%2C40.024%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.2%2C31.91l8.014%2C8.576L20.2%2C49.061a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026l1.563%2C1.672a0.647%2C0.647%2C0%2C0%2C0%2C.958%2C0l8.014-8.576h0L32.776%2C41a0.762%2C0.762%2C0%2C0%2C0%2C0-1.025L22.72%2C29.212a0.647%2C0.647%2C0%2C0%2C0-.958%2C0L20.2%2C30.885A0.762%2C0.762%2C0%2C0%2C0%2C20.2%2C31.91Z%22/%3E%3C/svg%3E%0A') center right no-repeat;
	right: 63px;
    left: auto;
}

.main-grid-ear-left {
    background:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M0%2C0H1.023A40.977%2C40.977%2C0%2C0%2C1%2C42%2C40.977v0A40.024%2C40.024%2C0%2C0%2C1%2C1.977%2C81H0a0%2C0%2C0%2C0%2C1%2C0%2C0V0A0%2C0%2C0%2C0%2C1%2C0%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.8%2C49.09l-8.014-8.576L20.8%2C31.939a0.762%2C0.762%2C0%2C0%2C0%2C0-1.026l-1.563-1.673a0.647%2C0.647%2C0%2C0%2C0-.959%2C0l-8.014%2C8.576h0L8.224%2C40a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026L18.28%2C51.788a0.647%2C0.647%2C0%2C0%2C0%2C.959%2C0L20.8%2C50.116A0.761%2C0.761%2C0%2C0%2C0%2C20.8%2C49.09Z%22/%3E%3C/svg%3E') center left no-repeat;
	left: 240px;
}


