﻿<link rel="stylesheet" type="text/css" href="default.css" />

<div class="container">		
  <link rel="stylesheet" href="tree.css" />
  <h1 style="text-align: center;">Родословное дерево</h1>
<div class="tree">
	<ul>
		<li>
			
			
				
				
					<a href="#">Клиент<br><img src="man.png" width="50" height="50" alt="lorem"/>
					
					<table>
						<tr>
							<td>ФИО</td>
							<td><input type="text" name="client[FIO]"></td>
						</tr>
						<tr>
							<td>СОР</td>
							<td><input type="text" name="client[COR]"></td>
						</tr>					
					</table>
					
					 
					 
					
					
					</a>
					<ul>
						<li>
							<a href="#">Отец<br><img src="man.png" width="50" height="50" alt="lorem"/>
							<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="father[FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="father[COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td><input type="text" name="father[VOEN]"></td>
								</tr>
								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="father[EVA]"></td>
								</tr>
													
							</table>
							
							
							</a>
							<ul>
								<li>
									<a href="#">Дедушка<br><img src="man.png" width="50" height="50" alt="lorem"/>
									
						<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="father[gran_father][FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="father[gran_father][COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td><input type="text" name="father[gran_father][VOEN]"></td>
								</tr>
								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="father[gran_father][EVA]"></td>
								</tr>
													
							</table>
									
									</a>
								</li>
								<li>
									<a href="#">Бабушка<br><img src="woman.png" width="50" height="50" alt="lorem"/>
									
									<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="father[gran_mother][FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="father[gran_mother][COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td>-</td>
								</tr>
								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="father[gran_mother][EVA]"></td>
								</tr>
													
							</table>
									
									</a>
								</li>
								
							</ul>
						</li>
						
						<li>
							<a href="#">Мать<br><img src="woman.png" width="50" height="50" alt="lorem"/>
							<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="mother[FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="mother[COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td>-</td>
								</tr>								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="mother[EVA]"></td>
								</tr>	
																				
							</table>
							
							
							</a>
							<ul>
								<li>
									<a href="#">Дедушка<br><img src="man.png" width="50" height="50" alt="lorem"/>
									
						<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="mother[gran_father][FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="mother[gran_father][COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td><input type="text" name="mother[gran_father][VOEN]"></td>
								</tr>
								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="mother[gran_father][EVA]"></td>
								</tr>
													
							</table>
									
									</a>
								</li>
								<li>
									<a href="#">Бабушка<br><img src="woman.png" width="50" height="50" alt="lorem"/>
									
									<table>
								<tr>
									<td>ФИО</td>
									<td><input type="text" name="mother[gran_mother][FIO]"></td>
								</tr>
								<tr>
									<td>СОР</td>
									<td><input type="text" name="mother[gran_mother][COR]"></td>
								</tr>
								<tr>
									<td>Военный билет</td>
									<td>-</td>
								</tr>
								
								<tr>
									<td>Эвакуация</td>
									<td><input type="checkbox" name="mother[gran_mother][EVA]"></td>
								</tr>
													
							</table>
									
									</a>
								</li>
								
							</ul>
						</li>
					</ul>
				
			
		</li>
	</ul>
</div>
</div>