/*Root ul element*/
#horizontal-multilevel-menu
{
	margin:0;
	padding:0;
	background:#5e9bb8 url(images/header_menu_bg.gif) repeat-x;
	min-height:32px;
	list-style:none;
	font-size:12px;
	float:left;
	height:32px;
}

/*Other ul elements*/
#horizontal-multilevel-menu ul
{
	margin:0;
	padding:0;
	list-style:none;
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:4px 10px 5px 10px;
	text-decoration:none;
	text-align:center;
	font-size:12px;
}

#horizontal-multilevel-menu li
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:white;
	font-weight:bold;
	font-size:12px;
	white-space:nowrap;
	padding:7px 10px 9px;
}

#horizontal-multilevel-menu div.root-separator
{
	width:1px;
	height:32px;
	float:left;
	background:#71a7c0 url(images/separator.gif) center top no-repeat;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#6ba3be url(images/hover.gif) repeat-x;
	color:#ebf3cc;
	font-weight:bold;
	font-size:12px;
	padding:7px 10px 9px;
	
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#6ba3be url(images/hover.gif) repeat-x;
	color:white;
	font-size:12px;
	padding:7px 10px 9px;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li li:hover, #horizontal-multilevel-menu li li.jshover
{
	background:#d8e3e8;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li li.item-selected
{
	background:#d8e3e8;
	color:#fff;
}

/*Last item in subbox*/
#horizontal-multilevel-menu li li.item-last
{
	border-bottom:none;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	width:200px;
	top:auto;
	display:none;
	z-index:500;
	margin-top:-2px;
	height:auto;
	background:#f2f6f8;
	border:1px solid #7da3b5;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #b1c7d6;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

#horizontal-multilevel-menu li.left-margin
{
	width:10px;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:black;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:black;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-24px 0 0 197px;
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	display:none;

	/*For IE7 only (http://murphy.cz/ie7-hover-ghosts-bug/#drop-down-menu-ghosts-demo)*/
	position:static;
	width:auto;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	display:block;
	
	/*For IE7 only*/
	position:absolute;
	width:200px;
}

div.menu-clear-left
{
	clear:left;
}