<p>Um eine maximale Sicherheit, Transparenz und Leistungsstärke eines Web-Projektes (insbesondere bei einer Web-Cluster Edition) zu gewährleisten, muss die 
Arbeit mit der Datenbank über die Werkzeuge des Bitrix Frameworks erfolgen. </p>

<p>Die Framework-Werkzeuge schützen die Datenbank vor eventuellen Programmierfehlern, welche dazu führen können, dass die Informationen aus den Web-Projekten 
verloren gehen oder man gar  von außerhalb in die Web-Projekte illegal eindringen kann.  Die Werkzeuge des Bitrix Frameworks ermöglichen es, jede Anfrage, die bei 
der Erstellung einer beliebigen Web-Seite an die Datenbank gerichtet ist, zu erkennen und auszuwerten. Ein optimiertes und korrekt eingestelltes Web-Projekt mit 
aktiviertem Cache (und ausgeschaltetem Modul "Statistik") sendet keine einzige Anfrage an die Datenbank.</p>


<p>Um einen bei der Integration hinzugefügten Code mithilfe der  internen Datenbank-Werkzeugen zu prüfen, ist eine komplette Überprüfung aller Komponenten, 
Vorlagen und Dateien erforderlich. Wir werden versuchen, diese Überprüfung zu automatisieren. </p>