<p>Wenn für eine Website ganze Gruppen von eigenen miteinander zusammenhängenden 2.0-Komponenten erstellt werden (beispielsweise 
eine angepasste Fotogalerie), ist es sinnvoll, all diese Komponenten in Form einer "komplexen Komponente" darzustellen. Dadurch
 wird sowohl die Verwaltung dieser Komponente, als auch die weitere Entwicklung und Arbeit dieser Komponente einfacher.</p>
 
   
<p>Überprüfen, dass gewöhnliche miteinander zusammenhängende Komponenten im Rahmen von komplexen Komponenten verbunden werden. 
Zum Beispiel: Komponenten wie:</p>

<ul>
<li>Detaillierte News</li>
<li>Liste</li> 
<li>RSS-News</li> 
<li>Suchformular</li>
<li>Abstimmung</li> 
<li>usw.</li> 
 </ul>

<p>sind alle in Form einer komplexen Komponente "News" verbunden und dargestellt. </p>