<p>Um die Funktionalität des Systemkerns und der Module des Bitrix Framework zu erweitern und an die spezifischen Bedürfnisse einer Website 
anzupassen, sollte eine Standardtechnologie zur Funktionalitätserweiterung benutzt werden: Erstellung von 
<a href=" http://www.bitrixsoft.com/help/source/main/help/en/developer/general/technology/events.php.html " target="_blank">Eventhandlern</a>.  </p>

<p>In den meisten Fällen ist diese Technologie ausreichend, um das Bitrix Framework an spezifische Bedürfnisse einer Website anzupassen. 
Wird jedoch eine genauere Anpassung der Standard-API und der Framework-Möglichkeiten erforderlich, dann sollte man sich an den technischen 
Support wenden und die Erstellung der erforderlichen Eventhandler anfordern.  </p> 

<p>Der Systemkern des Bitrix Framework sollte nicht geändert werden, da sonst die Website via SiteUpdate nicht aktualisiert werden kann, 
ohne dabei gewisse Störungen der Website-Arbeit in Kauf zu nehmen. Man kann zwar die geänderte Kernfunktionalität nach jeder erhaltenen 
Aktualisierung manuell anpassen (falls der Kern doch geändert wurde), der Arbeits- und Zeitaufwand wird dabei jedoch sehr groß sein, so 
dass diese Vorgehensweise nicht zu empfehlen ist. Man sollte entweder die Eventhandler benutzen oder ein eigenes Modul mit eigenen Tabellen 
in der Datenbank entwickeln. </p>

<p>Sicherstellen, dass die Eventhandler, welche das Standardverhalten des Bitrix Framework bestimmen bzw. ändern, technisch dokumentiert 
und beschrieben sind. Technische Dokumentationen und Beschreibungen sollten stets auf dem aktuellsten Stand sein. </p>