<p>Bei der Erstellung eigener Komponenten und Module wird ausdrücklich empfohlen, die Regeln der Codierung einzuhalten. </p>

<p>Als Ausgangsinformationen können dabei folgende Empfehlungen dienen: 
<a href="http://www.bitrix.de/download/manuals/en/php_source_code_formatting_en.pdf" target="_blank">Bitrix Framework</a> oder 
<a href="http://framework.zend.com/manual/de/coding-standard.html" target="_blank">Codierungsregeln</a> bei ZendFramework und anderen. </p>

<p>Die einheitlichen Codierungsregeln sind dann besonders wichtig, wenn mehrere Entwickler gleichzeitig an einem Projekt arbeiten: 
in diesem Fall sorgen die Codierungsregeln dafür, dass die Code-Qualität höher und die Wahrscheinlichkeit eventueller Fehler sowie 
nachfolgende Wartungskosten der Website wesentlich geringer werden. Werden die Regeln einer einheitlichen Codierung nicht eingehalten,
 kann dies dazu führen, dass der Website-Code sehr kompliziert oder gar fehlerhaft wird. Eine weitere Entwicklung eines solchen Codes 
 ist sehr problematisch und oft ist dann die einzige Lösung, den Code komplett neu zu schreiben. </p>


<p>Man sollte sicherstellen, dass die Entwickler, welche sich mit der Integration der Website beschäftigen, die Codierungsregeln 
einhalten, die auch den Empfehlungen von Bitrix entsprechen. </p>