<p>Die Technologie "Amber Ergonomics" ermöglicht es, die Website direkt im Ansichtsbereich zu bearbeiten. Die Parameter können dabei in Popup-Dialogfenstern 
konfiguriert werden. So wird die Informationsverwaltung einfacher und effektiver, weil der administrative Bereich nicht eingeschaltet werden muss. </p>

<p>Die Möglichkeit, den Content und die Website-Elemente direkt im Ansichtsbereich bearbeiten zu können, sollte schon während der Anfangsphase der Website-Gestaltung 
und Integration in den Websitevorlagen vorgesehen werden. Die Benutzeroberfläche "Amber Ergonomics" kann in allen gängigen Browsern benutzt werden. </p>

<p><img height="314" border="0" width="500" src="/bitrix/images/main/checklist/de/QD0040.png" /></p>