<p>Die Sitemap für eine Website auf dem Bitrix Framework wird üblicherweise automatisch auf der Basis der Einstellungen von Menütypen 
(Einstellungen &gt; Systemeinstellungen &gt; Moduleinstellungen &gt; Hauptmodul, Registerkarte "Einstellungen", Unterbereich "Sitemap") 
erstellt. Das Verfahren zur Einstellung und Bearbeitung der Menütypen sollte logisch und verständlich sein: Dafür kann dieses Verfahren
 beispielsweise in der Websitespezifikation beschrieben werden.  </p>

<p>Zur Erstellung der Sitemap wird empfohlen, die Standardkomponente "bitrix:main.map" zu benutzen.</p>


<p>Sicherstellen, dass die Sitemap automatisch erstellt wird und die Bereiche und Elemente der Sitemap ohne Hilfe eines Programmierers
 geändert werden können (z. B. durch Bearbeitung von Menüs, Infoblöcken etc.).  </p>
