<p>Die Einstellungen der Website(s) überprüfen: "Desktop &gt; Einstellungen &gt; Systemeinstellungen &gt; Seiten &gt; Seitenparameter" </p>
<ol>
<li>Eine Website muss einen verständlichen Namen haben, mit dem sie sich von anderen Websites des Projektes unterscheidet. Der Name "Site1" wäre in dieser 
Hinsicht ein eher schlechtes Beispiel.</li>

<li>Die Test-Domainnamen müssen gelöscht werden.</li> 

<li>"Sprache", "Datum", "Datum und Uhrzeit", "Kodierung" müssen den Website-Spezifikationen entsprechen und berücksichtigt werden, wenn die Informationen im Ansichtsbereich 
der Website angezeigt werden.</li> 

<li>"Server-URL" und "Standardmäßige E-Mail-Adresse" müssen den Website-Spezifikationen entsprechen. Diese Parameter werden benutzt, um den Absender der E-Mails, die von 
der angegebenen Website aus verschickt werden, zu definieren.</li> 

<li>Test-Vorlagen müssen aus der Vorlagenliste gelöscht werden. Die Vorlagenamen müssen deutlich zeigen, wozu diese Vorlagen gedacht sind, beispielsweise 
"Startseite", "Seite zum Ausdrucken" usw. Der Name "Vorlage1" wäre ein Beispiel für einen eher schlechten Vorlagenamen. Die Angaben im Feld "Bedingungstyp"
 müssen eindeutig bestimmen, wann diese Bedingung angewendet wird (wobei manche "komplizierten" Bedingungen in PHP angegeben werden).</li>
 </ol> 