<p>Einstellungen des Menüs sowie der Seiten- und Bereichsparameter überprüfen: "Einstellungen &gt; Systemeinstellungen &gt; Moduleinstellungen &gt; Dateimanager", 
Registerkarte "Einstellungen", Bereich "Seiteneinstellungen".  </p>
 
<ol>
<li>Jeder Menütyp sollte einen verständlichen Namen haben, mit dem er sich von den anderen Menütypen der Website unterscheidet. Beispiele für solche verständlichen 
Namen sind "Hauptmenü" oder "Verzeichnismenü".  Heißt der Menütyp etwa "menu1", ist dieser Name nicht sehr deutlich, denn er macht die Unterstützung und eventuelle
 Anpassung der Website schwieriger.</li>
<li>Jeder Eigenschaftstyp  sollte ebenso einen verständlichen Namen haben, der diese Eigenschaft im Rahmen der Website-Konfiguration eindeutig definiert, 
beispielsweise "Schlüsselwörter". Heißt der Eigenschaftstyp etwa "Prop1", dann ist ein solcher Name eher irreführend. </li> 
 </ol>
	
<p>Bei der Darstellung des Menüs sollte die Standardkomponente "bitrix:menu" (mit Cache) benutzt werden. </p>

<p><img height="263" border="0" width="502" src="/bitrix/images/main/checklist/de/QD0030.png" /></p>