<p>Um die Arbeit eines Content-Managers einfacher und schneller zu machen und das Fehlerrisiko zu minimieren, ist es empfehlenswert, Vorlagen für
 Standardseiten und für eingebettete Bereiche festzulegen: </p>

<ul>
<li>Seite mit Text </li>
<li>Seite mit Tabellen </li> 
<li>Seite mit einigen Bildern </li> 
<li>Seite mit Beispielen zur Formatierung </li> 
<li>Eingebetteter Bereich mit statischen Informationen </li>
 </ul>

<p><img height="204" border="0" width="435" src="/bitrix/images/main/checklist/de/QD0080_1.png" /></p>

<p><img height="92" border="0" width="393" src="/bitrix/images/main/checklist/de/QD0080_2.png" /></p>


<p>Man sollte sicherstellen, dass für die Seitentypen und eingebettete Bereiche, welche vom Content-Manager besonders oft erstellt werden, 
vorgefertigte Vorlagen verfügbar sind. </p>
