<p>Um die Arbeit des Content-Managers einfacher und schneller zu machen sowie das Fehlerrisiko während der Bearbeitung der Inhalte im visuellen Editor 
zu minimieren, wird es empfohlen, oft benutzende Stile zu definieren, abzuspeichern und sie mit einer verständlichen Bezeichnung in der Originalsprache 
der Website zu versehen: </p>

<p><img height="465" border="0" width="428" src="/bitrix/images/main/checklist/de/QD0090.png" /></p>
 
<p>So kann der Content-Manager einen vordefinierten Stil auswählen und diesen auch benutzen, ohne dabei auf die Hilfe eines HTML-Designers zurückgreifen zu müssen. </p>


<p>Sicherstellen, dass im visuellen Editor die Bezeichnungen für oft benutzende Stile definiert wurden. </p>