<p>Für eine effektive Websiteverwaltung ist es sinnvoll, eine Nutzergruppe für Content-Manager zu erstellen und diese Nutzergruppe sorgfältig
 zu konfigurieren. Die einzelnen Content-Manager sollten einen eigenen Account auf der Website haben und folgende Aufgaben erfüllen können: </p>

<ul>
<li>Seiten und Bereiche sowie Seiten- und Bereichseigenschaften erstellen/bearbeiten </li>
<li>Menüpunkte erstellen/bearbeiten </li> 
<li>Eingebettete Bereiche erstellen/bearbeiten </li>
<li>Bereiche und Elemente ausgewählter Informationsblöcke erstellen/bearbeiten  </li> 
<li>Komponenten-Parameter auf den Seiten platzieren und bearbeiten </li> 
 </ul>

<p>Wichtig ist dabei, dass die Content-Manager keinen Zugriff auf bestimmte Daten und Parameter haben, welche für die Arbeit der Website kritisch
 sein könnten. Dadurch wird die Informationssicherheit der Website gewährleistet. </p>

<p>Man sollte sicherstellen, dass auf der Website die Nutzergruppe der Content-Manager erstellt und wie erforderlich eingestellt ist. Alle Aktionen,
 welche von dieser Nutzergruppe ausgeführt werden können, sollen überprüft werden. Man sollte dabei darauf achten, dass die vergebenen Zugriffsrechte
 für die Bearbeitung von Seiten und eingebetteten Bereichen auch ausreichend sind. </p> 

<p>Man sollte sicherstellen, dass die Mitglieder dieser Content-Manager-Nutzergruppe nicht auf die Systemmöglichkeiten zugreifen können, welche sie
 für ihre Arbeitsaufgaben nicht unmittelbar benötigen, beispielsweise einzelne Moduleinstellungen und Systemeinstellungen des Hauptmoduls ändern, 
 Nutzergruppen und deren Accounts erstellen und bearbeiten, Kundenkonten im Onlineshop anlegen usw. </p>
 

