<p>Werden in den Bereichen Administration oder Ansicht komplexe Einstellungen vorgenommen (d.h. es werden komplexe Einstellungsprozesse benutzt), 
wird die Verwendung von Assistenten empfohlen zu. Standardmäßig installierte Assistenten können im Bereich "Einstellungen &gt; Systemeinstellungen &gt; 
Assistenten" gefunden werden. Hier noch einige Beispiele für Assistenten, welche für ein Web-Projekt individuell erstellt werden könnten: </p>

<ul>
<li>Hinzufügen einer komplizierten Regel zum Kalkulationssystem der Rabatte für Nutzergruppen. </li> 
<li>Erstellung eines neuen Nutzers, welcher auch zu bestimmten Nutzergruppen hinzugefügt werden soll. Dabei sollen auch mehrere 
Informationsblöcke/Verzeichnisse, mit denen dieser neue Nutzer verbunden sein wird, mit Werten ausgefüllt werden. </li> 
</ul> 


<p>Sicherstellen, dass im Bereich "Einstellungen &gt; Systemeinstellungen &gt; Assistenten" die für das Web-Projekt spezifischen Assistenten hinzugefügt
 sind, welche ganze Prozesse mit komplexen Einstellungen in beiden Websitebereichen automatisieren. </p>