<p>In vielen Web-Projekten müssen verschiedene Routineaufgaben regelmäßig erledigt werden. So muss man beispielsweise Rankingpunkte errechnen,
 veraltete Dateien und Informationen löschen oder archivieren, Bestellungen abschließen etc. Solche regelmäßigen Aufgaben werden Agenten genannt
 und können auf dem Bitrix Framework im Bereich "Desktop &gt; Einstellungen &gt; Tools &gt; Agenten" eingestellt werden. </p>


<p>Werden im Rahmen einer Website spezifische Aufgaben gestellt, welche mit einem gewissen Zeitabstand erledigt werden sollen, wird es empfohlen,
 diese Aufgaben als Agenten zu definieren, den Zeitabstand genau festzulegen und die Logik bzw. Vorgehensweise dieser Agenten in der technischen 
 Dokumentation zur Website zu beschreiben. </p>
   

<ol>
<li>Im Bereich "Einstellungen &gt; Tools &gt; Agenten" sicherstellen, dass die Agenten zur Erledigung erforderlicher Website-Aufgaben eingestellt sind. 
Diese Agenten sollten außerdem auch in der technischen Dokumentation zur Website beschrieben werden. </li>
<li> Im Bereich "Einstellungen &gt; Tools &gt; Agenten" überprüfen, welche Systemagenten standardmäßig verfügbar sind. Bei Bedarf kann man den Zeitabstand 
ändern, mit dem die Agenten gestartet werden sollen. </li> 
<li>Einige regelmäßige Aufgaben, bei denen der Zeitabstand der Ausführung relativ groß ist (also Minuten beträgt), sind als System-"cron" definiert, 
um durch das Betriebssystem regelmäßig gestartet werden zu können. Auch diese Aufgaben sollten in der technischen Dokumentation beschrieben werden. </li> 
</ol>