<p>Manchmal ist es notwendig, für ein Web-Projekt eigene "administrative Bereiche" zu erstellen, weil die Möglichkeiten des standardmäßigen
 administrativen Bereichs des Bitrix Framework zu 100% ausgenutzt wurden. Um sich in solchen Fällen Zeit zu sparen und etwaige Entwicklungsrisiken 
 zu minimieren, wird es empfohlen, die Technologie der "Schnellentwicklung von administrativen Bereichen" zu benutzen. Diese Technologie ist in der
 Dokumentation zum Bitrix Framework ausführlich beschrieben. Dabei können alle Möglichkeiten der Bitrix Plattform genutzt werden, hier nur einige Beispiele: </p>

<ul>
<li>Filtern von Daten im administrativen Bereich nach verschiedenen Kriterien sowie eine flexible Oberfläche für Filtereinstellungen </li>
<li>Sortierung von Daten nach verschiedenen Eigenschaften sowie eine flexible Oberfläche für die Konfiguration von Spalten, die im administrativen 
Bereich angezeigt werden </li> 
<li>Gruppenbearbeitung von Objekten im administrativen Bereich (beispielsweise Bearbeitung von Sortierungswerten oder Aktivieren/Deaktivieren)  </li> 
<li>Benutzung von Registerkarten, Einstellung der Ansichtseigenschaften der Objekte mithilfe von Registerkarten  </li> 
<li>Einsatz von Technologien AJAX, JSON, XML </li> 
 </ul>

<p>Mit der Technologie Erstellung eigener administrativer Bereiche können diese viel schneller und einfacher erstellt werden. </p>


<p>Sicherstellen, dass zur Erstellung von eigenen administrativen Bereichen Technologien des administrativen Bereichs des Bitrix Framework benutzt 
werden, damit diese selbsterstellten Bereiche eine ähnliche Funktionalität aufweisen: Filtern von Listen und Listensortierung sind flexibel und können
 eingestellt werden; die Oberfläche der Objektbearbeitung enthält Registerkarten, mit denen die Ansicht der Objekteigenschaften eingestellt und die 
 bereits vorgenommenen persönlichen Einstellungen gespeichert werden können; AJAX/JSON/XML werden verwendet.   </p>