<p>Damit ein Web-Projekt korrekt funktioniert, muss die erforderliche Server-Software  für das Hosting des Web-Projektes optimal eingestellt bzw. 
ein bewährter Hosting-Anbieter ausgewählt werden. <p>
 
<p>Um die Hosting-Software korrekt einzustellen, werden in der Regel "Bitrix Web-Environment" (für Windows und Linux) oder aber "Bitrix Virtual 
Appliance" benutzt. Werden diese beiden Systemumgebungen jedoch nicht eingesetzt, muss der Hosting-Anbieter die Server-Software so einstellen, 
dass eine reibungslose Funktionsweise des Web-Projektes gewährleistet wird. </p>

<p>Je höher die zu erwartende Belastung des Web-Projektes ist, umso leistungsstärker muss die Hardware- und Softwarekonfiguration des Hosting-Servers sein.
 Es wird ausdrücklich empfohlen, im Vorfeld einen Belastungstest mithilfe von Daten durchzuführen, die einem wirklichen Datenfluss maximal ähnlich sind. </p>     

<ol>
<li>Die Serverleistungsstärke des ausgewählten Hosting-Anbieters entspricht den Anforderungen des Web-Projektes. Dies wurde durch einen erfolgreich 
durchgeführten Belastungstest bestätigt. </li> 
</ol>