<p>Von der Website aus können E-Mails versendet werden: Das können diverse Benachrichtigungen wie beispielsweise über eine Nutzeranmeldung, über eine neue 
Bestellung usw. sein. Diese E-Mails werden über Tools des Betriebssystems versendet. Ist der Prozess zum E-Mail-Versenden nicht konfiguriert oder nicht korrekt 
konfiguriert, können die gesendeten E-Mails als Junk-E-Mails verstanden werden, sie können nicht korrekte Betreffzeilen haben oder bei Website-Besucher gar nicht 
ankommen. </p>

<ol>
<li>Ist in Ihrer Produktedition das Modul "Newsletters und Abonnements" verfügbar, müssen Sie im Bereich "Services &gt; Newsletters &gt; Ausgaben" eine Testausgabe 
erstellen (am besten mit Anhängen) und diese Ausgabe an sich selbst senden. Beim Empfang dieser E-Mail überprüfen Sie genau die Betreffzeilen: Bei Bedarf können 
Sie dann mit Ihrem Systemadministrator die Konfiguration des E-Mail-Systems auf dem Server optimieren. </li>

<li>Ist in Ihrer Produktedition das Modul "Newsletters und Abonnements" nicht verfügbar, können Sie Ihr Mail-Konto konfigurieren und beim Speichern die Option 
"Nutzer benachrichtigen" aktivieren (oder Sie initiieren eine andere Benachrichtigung). In diesem Fall werden Sie eine E-Mail mit der Benachrichtigung bekommen 
und die E-Mail wiederum überprüfen können. </li> 

<li>Eventuell können Sie einen Programmierer darum bitten, Ihnen eine Test-E-Mail via PHP zu senden. </li> 

<li>Kommt die gesendete E-Mail nicht an, befindet sie sich wahrscheinlich in den Junk-E-Mails.</li> 
 </ol>