<p>Vor dem Launch der fertigen Website müssen die Server-Konfiguration und die Bedingungen des Hosting-Anbieters berücksichtigt werden. Man sollte dabei nur bewährte 
Hosting-Anbieter auswählen.</p>

<p>Die Hardwarekonfiguration des Servers muss der zu erwartenden Belastung entsprechen (es wird ausdrücklich empfohlen, im Vorfeld einen Belastungstest mithilfe 
von Daten durchzuführen, die einem wirklichen Datenfluss maximal ähnlich sind).</p>

<p>Angabe von Informationen zum Hosting und Hardwarekonfiguration des Systems: Servertyp, Typ und Leistung der Prozessoren, Größe des Arbeitsspeichers, 
RAID-Controllertyp und dessen Betriebsart (ob beim Cache-Prozess ein Akku benutzt wird), Typ und Größe der Festplatten, Schnittstellengeschwindigkeit, Betriebssystem.</p>
