<p>Nachdem die Website gelauncht wurde, möchte der Kunde oft die Funktionalität anpassen bzw. weiterentwickeln oder aber eventuelle Fehler schnell  korrigieren. 
Man muss dabei beachten, dass sowohl die Weiterentwicklung der Funktionalität als auch die Fehlerkorrekturen separat von der funktionierenden Website erfolgen müssen. 
Sie müssen auf separaten speziell dazu konfigurierten Projekten durchgeführt und sorgfältig getestet werden. Erst dann können die Ergebnisse dieser 
Weiterentwicklungen und Korrekturen im Ansichtsbereich der Website angezeigt werden.  </p>

<p>Zu diesen und andere ähnlichen Zwecken benutzt man oft den technischen Support des Partners, der die Website in das Bitrix Framework integriert hat. 
Wird dabei eventuelle Zusammenarbeit mit einem anderen Partner geplant, sollte diesem Partner die komplette in der Integrationsphase erstellte technische 
Dokumentation über die Produktarchitektur und die Betriebsart der Website bereitgestellt werden. </p> 

<p>Fehlerkorrekturen im System sowie neue Funktionalitäten des Bitrix Frameworks sind über das SiteUpdate System verfügbar (und zwar innerhalb eines Jahres, 
nachdem der Lizenzschlüssel aktiviert bzw. verlängert wurde). Sie können mit dem Partner absprechen, dass er das Framework der Website im Rahmen seines 
technischen Supports selbstständig aktualisiert. Eventuelle Korrekturen für die Partnermodule können über das Update-System im Marketplace heruntergeladen 
werden (Einstellungen &gt; Marketplace &gt; Lösungen aktualisieren). </p> 

<p>Sicherstellen, dass in der Datei <b>/bitrix/php_interface/this_site_support.php</b> Kontaktinformationen über den Partner enthalten sind,
 welcher den technischen Support für dieses Web-Projekt leistet.</p>