<p>Bevor die Website gelauchnt wird, muss der Lizenzschlüssel Ihrer Bitrix Edition aktiviert werden. Es wird außerdem empfohlen, die Verfügbarkeit von Updates 
regelmäßig zu überprüfen, damit man diese rechtzeitig herunterladen und installieren kann. So wird eine stabile und sichere Arbeitsweise der Website sichergestellt
 und neue Funktionalitäten werden verfügbar. </p> 

<p>Werden die Integrationsregeln eingehalten und die Anforderungen dieser Checkliste der Qualitätssicherung erfüllt, wird die Installation der Updates für das 
Bitrix Framework die Arbeitsweise der Website in keiner Weise beeinträchtigen. </p>

<ol>
<li>Im Bereich "Einstellungen &gt; Systemeinstellungen &gt; Moduleinstellungen &gt; Hauptmodul" auf der Registerkarte "Update-System" wird überprüft, ob der 
Lizenzschlüssel eingegeben wurde. 

<p>Auf derselben Registerkarte sollte außerdem die Regelmäßigkeit der Update-Überprüfung (Automatische Überprüfung von Updates) eingestellt. Das ist 
sehr wichtig, weil mit den Updates diverse Fehlerkorrekturen, Produktverbesserungen sowie neue Funktionalitäten geliefert werden. Die Überprüfung von 
Updates sollte täglich erfolgen.</p></li>

<li>Im Bereich "Einstellungen &gt; Aktualisierungen", Unterbereich "Antwort des Update-Servers" werden detaillierte Informationen zum Lizenzschlüssel, 
zur Produktedition und zum Zeitraum der verfügbaren Updates angezeigt. </li> 

<li> Näheres dazu auf der Seite <a href="http://www.bitrix.de/support/key_info.php" target="_blank">Registrierung und Prüfung des Lizenzschlüssels</a>.</li> 
 </ol>