<p>In den nach Typen gruppierten Informationsblöcken, werden diverse Projektdaten wie News, Kataloge, Listen und Sonstiges gespeichert. Die Informationsblöcke 
müssen korrekt konfiguriert werden: Das ist sehr wichtig, damit das System korrekt verwaltet werden kann. Von einer ordnungsgemäßen Konfiguration der
 Informationsblöcke hängen außerdem auch die Leistungsstärke und die Wartungskosten der Website ab. Funktionalitäten, welche nicht benutzt werden, sollten 
 deaktiviert werden. </p>

<p>Einstellungen der Informationstypen überprüfen: Inhalt &gt; Informationsblöcke &gt; Informationsblocktypen. </p>
<ol>
<li>Die Namen der Informationsblocktypen sollten die Funktion dieser Informationsblöcke auf der Website eindeutig widerspiegeln. In dieser Hinsicht ist 
der Name "Typ12" eher schlecht, während der Name "Lokale Nachrichten" für sich selbst spricht. </li>
<li>In den Einstellungen für jeden Informationsblocktyp auf der Registerkarte "Allgemein" sollten auch die Überschriften von Bereichen und Elementen eines 
jeweiligen Informationsblocktyps  angegeben werden. Wenn die Elemente einzelne Produkte darstellen, ist die Elementüberschrift "Nachrichten" sicherlich 
nicht die Beste.</li> 
<li>Auf der Registerkarte "Weitere" muss überprüft werden, ob die Option "Export zum RSS benutzen" aktiviert ist, falls dieser Export erforderlich ist. </li> 
 </ol>

<p>Einstellungen jedes einzelnen Informationsblocks überprüfen: Inhalt &gt; Informationsblöcke &gt; Informationsblocktypen &gt; Überschrift des Informationsblocks. </p>

<ol>
<li>Wo die Eigenschaftswerte gespeichert werden sollen (ob in einer gemeinsamen oder separaten Tabelle), hängt davon ab, welche Aufgaben erledigt werden 
sollen und wie groß die verfügbaren Daten sein sollen. Sind sehr viele Daten geplant (Hunderttausende bis Millionen Elemente), empfiehl es sich die Eigenschaften
 in einer extra Tabelle zu speichern. Für die Tabellendaten sollten extra Indexe angegeben werden, mit denen die Felder mit ausgewählten Elementen markiert werden:
 So wird die Auswahl erforderlicher Elemente schneller und einfacher gemacht. 

<p>Wenn aber die Anzahl der Eigenschaften der Objekte höher ist als die maximale Spaltenanzahl der Datenbanktabelle oder wenn Objekte innerhalb von mehreren 
Informationsblöcken ausgewählt werden sollen, empfiehlt es sich, die Daten in einer "gemeinsamen Tabelle" zu speichern. </p>
</li>

<li>Sicherstellen, dass der Informationsblock nur auf der Website benutzt wird, für die auch eine bestimmte Auswahl an Elementen von diesem Informationsblock
 erforderlich ist. </li> 

<li>Die Indexierung der Bereich und Elemente für die Suche wird dann aktiviert, wenn in einem konkreten Informationsblock nach Informationen gesucht werden soll. 
Anderenfalls wird es empfohlen, die Indexierung auszuschalten, um so eine hohe Websiteleistung  sicherzustellen. </li> 

<li>Wenn die Objekte eines Informationsblocks nicht in den Workflow oder in die Geschäftsprozesse involviert sind, sollten die entsprechenden Optionen deaktiviert
 werden. </li>
 
<li>Der Ansichtsmodus für Bereiche und Elemente wird so ausgewählt, dass die Websiteverwaltung optimal abläuft. Auch der Umfang und die Größe der zu erwartenden 
Daten spielen hier eine Rolle. Wird beispielsweise mit sehr vielen Daten gerechnet (über Hunderttausende Elemente und Bereiche), wird ein "getrennter" Ansichtsmodus 
empfohlen. 
</li> 

<li>Auf der Registerkarte "Felder" werden standardmäßige Eigenschaftswerte überprüft. Korrekt konfigurierte standardmäßige Eigenschaftwerte machen die 
Systemverwaltung und Datenverarbeitung schneller und einfacher. </li> 

<li>Auf der Registerkarte "Eigenschaften" sollte darauf geachtet werden, dass die Überschriften verständlich und die Codes lesbar sind, und die Eigenschaftstypen 
den gestellten Aufgaben auch entsprechen. Hat eine Eigenschaft die Überschrift "Prop10" und den Code "C9", sind diese sowohl für einen Content-Manager irreführend 
als auch für einen Programmierer wenig hilfreich, wenn er das System weiter entwickeln soll. Es ist also wichtig, einen richtigen (also gut verständlichen) 
Eigenschaftstyp anzugeben. </li>

<li>Soll im administrativen Bereich nach einer Eigenschaft des Informationsblockelements gefiltert werden, kann man in den Einstellungen der Eigenschaft die 
Option aktivieren, mit der diese Eigenschaft im Filter angezeigt wird. Das macht die Arbeit mit Informationen schneller und einfacher (eine Geschäftspartnerliste 
muss beispielsweise oft nach dem Datum der Partnerregistrierung sowie nach dem Partnertyp gefiltert werden- also wird diese Filtermöglichkeit entsprechend 
voreingestellt.) </li> 

<li>Analog dazu werden die Einstellungen auf der Registerkarte "Bereichsfenster" überprüft. </li> 

<li>Auf der Registerkarte "Kommerzieller Katalog" sollten die vorhandenen Optionen nur dann aktiviert werden, wenn Sie auf Ihrer Website wirklich Daten haben, 
auf welche sich diese Optionen beziehen. Anderenfalls sollten diese Optionen deaktiviert werden, damit eine hohe Websiteleistung sichergestellt werden kann.</li>

<li>Auf der Registerkarte "Zugriff" müssen die Zugriffsrechte überprüft werden. Auf den Informationsblock "Interne Unternehmensnews" sollten beispielsweise 
die Administratoren und Content-Manager (die speziell mit diesem Informationsblock arbeiten) einen vollen Zugriff haben, während andere Nutzergruppen für 
diesen Informationsblock nur einen Lesezugriff haben sollten. Ein anderes Beispiel: Wenn bestimmte Daten vor der Veröffentlichung auf der Website überprüft 
werden sollen, was wiederum von einer bestimmten Nutzergruppe gemacht werden soll, ist es sinnvoll, dieser Nutzergruppe den Zugriff auf den Informationsblock 
"Workflow" zu geben. </li> 

<li>Auf der Registerkarte "Bezeichnungen" wird überprüft, dass die Bezeichnungen der Objekte den jeweiligen Objektinhalten logischerweise entsprechen.</li> 

<li>Auf der Registerkarte "Eventprotokoll" gibt es eine Reihe von Optionen, mit denen man alle Änderungen, die an Daten im Informationsblock vorgenommen werden,
 registrieren kann (beispielsweise kann die Erstellung eines neuen oder das Löschen eines bestehenden Bereichs protokolliert werden). Diese Optionen werden
 insbesondere aus Gründen der Informationssicherheit empfohlen. </li>

<li>Für große Web-Projekte mit Dutzenden Informationsblocktypen und Hunderten Informationsblöcken wird es empfohlen, ein logisches Modell mit Überschriften, 
Eigenschaften und Zusammenhängen (zwischen einzelnen Informationsblöcken) zu erstellen. Ein solches Modell könnte den Content-Managern aber auch den Programmierern
 wesentlich helfen, sich im Projekt zurechtzufinden: So können zum einen Informationen schneller gefunden und zum anderen das Risiko eventueller Fehler minimiert
 werden. Darüber hinaus kann dieses Modell wichtige Antworten enthalten, wenn beispielsweise eine Frage entsteht, ob ein bestimmtes Element des Informationsblocks 
 ohne schwerwiegende Folgen gelöscht werden kann (es kann eben sein, dass das Element, welches man löschen will, Verknüpfungen mit anderen Elementen enthalten kann, 
 deshalb könnte das Löschen die gesamte Websitelogik beschädigen). </li> 
 </ol>
