<p>In den Informationsblöcken der Website werden in der Regel solche Daten gespeichert, die von Mitarbeitern relativ oft bearbeitet werden. 
Dazu gehören beispielsweise "News", "Stellenangebote", "Verzeichnisse", diverse Kataloge mit Baumstruktur und andere ähnliche Informationen.  </p>
<p>Wenn die Formulare zur Bearbeitung von Informationsblockobjekten sinnvoll und benutzerfreundlich eingestellt und an die websitespezifischen
 Aufgaben angepasst sind, kann die Arbeit mit den Daten schneller und effektiver erfolgen. Auch die Fehlerwahrscheinlichkeit wird reduziert. </p>

<p>Es wird empfohlen, die Bearbeitungsformulare und Listen der Informationsblöcke an die websitespezifischen Aufgaben standardmäßig für alle 
Nutzer anpassen. Dabei kann man die Eigenschaften ausblenden, die nicht benutzt werden; man kann neue Registerkarten erstellen oder 
Registerkartennamen ändern (damit die neuen Namen den Besonderheiten der Website entsprechen). Auch können die Eigenschaften innerhalb 
von Registerkarten neu anordnet werden. Wichtig ist, dass alle diese Änderungen im Endeffekt zu einer Erhöhung der Benutzerfreundlichkeit beitragen. </p>  
<ol>
<li>Man sollte alle Bearbeitungsformulare für jedes Informationsblockelement überprüfen, welches im administrativen Bereich vom Mitarbeiter 
bearbeitet werden sollte. In diesen Formularen sollten keine "überflüssigen" Eigenschaften enthalten sein, die mit technischen Einzelheiten 
überlastet und deswegen für die Mitarbeiter unklar sind. Ein Beispiel: Ist im Informationsblockelement lediglich die Bezeichnung einer Farbe 
enthalten, sind alle anderen Standard-Eigenschaften wie "Beschreibung für die Vorschau", "Detaillierte Beschreibung", "Tags" usw. nicht 
erforderlich und sollten daher auch nicht angezeigt werden. </li>
<li>Listen der Informationsblockelemente sollten ebenfalls überprüft werden. In den Listen sollten nur die Spalten enthalten sein, welche an 
die websitespezifischen Aufgaben angepasst sind. Alle anderen Spalten sollten standardmäßig für alle Nutzer ausgeblendet sein. </li></ol>