<p>Die Leistungsfähigkeit (Performance) eines entsprechend konfigurierten Systems ist ein Kehrwert der Durchschnittszeit, welche der Systemkern zur "Ausführung"
 benötigt  (1/"Durchschnittliche Antwortzeit"). Das bedeutet, je optimaler bestimmte Systemeinstellungen wie die der PHP, der Datenbank, des Dateisystems, des 
 Caches sind und je "stärker" die Hardware ist, umso höher ist der Wert der Leistungsfähigkeit. </p>

<p>Hier wird folgende Vorgehensweise empfohlen: </p>

<ul>
<li>Mit der verfügbare Hardware sollten die Software-Einstellungen entsprechend den Bitrix-Empfehlungen optimiert werden, so dass eine maximale Leistung 
erreicht werden kann. </li>
<li>Wenn trotz der durchgeführten Optimierung die erforderliche Leistung nicht erreicht werden kann, sollte die Leistungsstärke der verwendeten Hardware 
erhöht werden.</li> 
<li>Für Web-Projekte mit hoher Belastung wird empfohlen, das System noch vor dem Website-Launch so zu konfigurieren, dass mit dieser Konfiguration ein 
entsprechend hoher Leistungswert  (30 oder höher) erreicht wird. Danach sollte die Leistung des ganzen Systems regelmäßig (mindestens einmal im Monat) 
gemessen werden. Die hohe Leistungsfähigkeit des Systems sollte man stets unterstützen, indem man "schwere" Web-Seiten oder überbelastete Tabellen in 
der Datenbank optimiert und ähnliche Maßnahmen einleitet.  </li> 
 </ul>

<p><img height="371" border="0" width="469" src="/bitrix/images/main/checklist/de/QP0050.png" /></p> 

<p>Im Bereich "Desktop &gt;  Einstellungen &gt;  Performance &gt;  Performance Panel &gt;  Konfiguration" auf die Schaltfläche "Performance testen" klicken. 
In der Zeile "Konfiguration" (Spalte "Beispiel") wird dann das Ergebnis angezeigt.  </p>

<p>Entsprechend den Bitrix Standards wird eine Leistung &lt;=15 als "niedrig" bewertet, eine Leistung mit einem Wert  &gt;15 und &lt;30 als "ausreichend" 
und eine Leistung mit einem Wert &gt;=30 als "hoch". </p>