<p>Diese Einstellung gehört zu den besonders wichtigen Parametern, durch welche eine hohe Websiteleistung sichergestellt wird. </p>

<p>Für die Erstellung einer Web-Seite werden diverse Komponenten, welche man auch "Bausteine" nennen könnte, verwendet. Beispiele für solche Komponenten 
sind "Site map", "Newsliste", "Detaillierte Katalogseite" und viele andere mehr. In den meisten Fällen bekommen die Komponenten die erforderlichen Informationen
 aus der Datenbank. Wenn die Website jedoch sehr aktiv besucht wird, ist  logischerweise mit einer viel höheren Datenbankbelastung zu rechnen.  </p> 

<p>Die beste Lösung für eine solche Situation ist der Einsatz von Cache in den Komponenten -  
<a href="http://www.bitrix.de/download/files/manuals/en/webcluster_guide_en.pdf" target="_blank">mehr</a>.   </p>

<p>In den Standardkomponenten des Bitrix Frameworks wird der Cache sehr aktiv eingesetzt. Dadurch wird eine Maximalleistung der Komponenten erreicht. 
Zusätzlich muss darauf geachtet werden, dass der Cache auch bei den angepassten bzw. speziell für die Website erstellten Komponenten verwendet wird. </p>

<p>Der Komponenten-Cache wird im administrativen Bereich ein- bzw. ausgeschaltet. Bitte überprüfen!  </p>
 
<p><img height="140" border="0" width="398" src="/bitrix/images/main/checklist/de/QP0030_1.png" /></p>
 
<p>Im Bereich "Systemeinstellungen &gt; Auto-Cache &gt; Komponenten Cache" sollte der Auto-Cache aktiviert sein.  </p>

<p>Es wird empfohlen, diese Einstellung bei allen Website-Komponenten zu überprüfen (Auto-Cache sollte wie bereits erwähnt aktiviert sein). 
Falls bei der Komponentenentwicklung in der Auswahlliste der Einstellung die Punkte "Cache" oder "Nicht cachen" ausgewählt wurden und danach
 vergessen wurde, die Option "Auto-Cache" wieder zu aktivieren, sollte dies nachgeholt werden.  </p>

<p><img height="86" border="0" width="493" src="/bitrix/images/main/checklist/de/QP0030_2.png" /></p>
