<p>Manche Bereiche der Website werden besonders stark belastet. Bei solchen Bereichen ist es sinnvoll, sie zum HTML-Cache hinzuzufügen, 
welcher unter Einstellungen &gt; Systemeinstellungen &gt; Auto-Cache &gt; HTML Cache eingestellt werden kann. Dadurch kann die Belastung auf die 
Rechnungskapazitäten Ihrer Web-Ressource wesentlich reduziert werden. </p>

<p>Diese Technologie kann allerdings nicht ohne gewisse Einschränkungen verwendet werden. Es wird daher empfohlen, sich die Zweckmäßigkeit
 der Verwendung von HTML-Cache zu überlegen und dann die Entscheidung zu treffen.  </p>


<p>Man sollte sicherstellen, dass die Zweckmäßigkeit der Verwendung von HTML-Cache in Erwägung gezogen und eine begründete Entscheidung 
getroffen wurde. Dies könnte beispielsweise als ein separater Punkt in der Websitespezifikation erwähnt werden. </p>