<p>Manchmal kann es erforderlich sein, die Website auf eine maximale Leistung einzustellen, indem dabei auf einige Möglichkeiten des Bitrix Framework 
verzichtet wird. Beispielsweise kann man die Option deaktivieren, mit welcher auf der Website fixiert wird, wie viel Mal ein Werbebanner angezeigt wird. 
Oder man kann das Schema der morphologisch basierten Suche einfacher machen. Im Bereich "Einstellungen &gt; Performance &gt; Performance Panel" werden auf der 
Registerkarte "Bitrix" Empfehlungen angezeigt, welche Optionen deaktiviert werden können. </p>


<p>Im administrativen Bereich unter Einstellungen &gt; Performance &gt; Performance Panel auf der Registerkarte "Bitrix" sollten alle Empfehlungen umgesetzt 
werden (Spalte "Empfehlungen"). Nach der Umsetzung aller Empfehlungen wird die Überschrift der Registerkarte auf "Bitrix (optimal)" geändert. </p>