<p>Die Technologie "Amber Ergonomics" ermöglicht es, die Website direkt im Ansichtsbereich zu bearbeiten. Die Website-Parameter können dabei in 
Popup-Dialogfenstern konfiguriert werden. So wird die Informationsverwaltung einfacher und effektiver, weil nicht jedes Mal extra in den administrativen 
Bereich gewechselt werden muss (Der administrative Bereich kann dann benutzt werden, wenn die Websiteobjekte oder Objektgruppen "detaillierter" bearbeitet 
werden sollen).</p>

<p>Man muss sicherstellen, dass der Content-Manager, ohne den administrativen Bereich einschalten zu müssen, folgende Aktionen ausführen kann: 
Elemente einer Liste (z.B. die Newsliste) bearbeiten, Elemente einer Liste und neue Bereiche hinzufügen (z.B. ein Produkt zum Katalog hinzufügen), 
eingebettete Bereiche (wie bspw. die Telefonnummer oder die Jahresangabe beim Copyright) bearbeiten oder Menüs verändern.</p>

<p><img height="308" border="0" width="402" src="/bitrix/images/main/checklist/de/QS0030.png" /></p>