<p>Bei der Entwicklung einer Website sollte man sich genau anschauen, wie die Einstellungen der auf der Website benutzten Standardmodule 
von Bitrix sind. Bei Bedarf können sie angepasst werden. </p>

<p>Wenn beispielsweise das Hauptmodul eingestellt wird (Einstellungen > Systemeinstellungen > Moduleinstellungen > Hauptmodul), sollten 
folgende Fragen gestellt (und beantwortet) werden: </p>

<ol>
<li>Soll eine Globale Nutzeranmeldung für die einzelnen Websites eines Web-Projektes benutzt werden und sollen die Autorisierung-Cookies für 
alle Domains verwendet werden, welche in den Websiteeinstellungen aufgelistet werden (Einstellungen &gt; Systemeinstellungen &gt; Seiten &gt; Seiten)? 
 Sind in dieser Liste nicht zufällig irgendwelche Testdomains enthalten? </li>
<li>Ist eine korrekte E-Mail-Adresse für standardmäßig von der Website aus gesendete E-Mails angegeben?  </li> 
<li>Soll die Bearbeitung der Websitevorlagen mit einem komplizierten Design im visuellen Editor erlaubt werden? </li> 
<li>Soll den Nutzern erlaubt werden, sich selbstständig anzumelden? Soll die Anmeldung mit CAPTCHA geschützt werden? Sollen die E-Mail-Adressen
 auf ihre Einmaligkeit hin überprüft werden? Welcher Nutzergruppe sind die neu angemeldeten Nutzer zunächst zuzuordnen? Soll eine Anmeldebestätigung 
 per E-Mail angefordert werden? </li>
<li>Inwiefern entsprechen die standardmäßig angegebenen Zeitraumwerte für Datenaufbewahrung den Websiteaufgaben ("Wie viel Tage sollen E-Mails 
aufbewahrt werden", "Wie viel Tage sollen die Nutzer mit nicht bestätigter Anmeldung aufbewahrt werden", "Wie viel Tage sollen Events aufbewahrt 
werden" usw.)? Die Zeit der Datenaufbewahrung ist besonders bei Websites mit einer hohen Belastung wichtig. </li> 
<li>Ist die tägliche automatische Überprüfung der verfügbaren Updates aktiviert? Diese Updates sind wichtig, um etwaige Systemfehler zu korrigieren,
 die vorhandene Leistung noch zu verbessern und neue Funktionalitäten herunterzuladen (und zu installieren). </li>
 </ol>

<p>Ähnlich sollten auch alle anderen Module des Systems überprüft werden. Es sollte sichergestellt werden, dass die vorgenommenen Einstellungen den
 Websiteaufgaben entsprechen. </p>
  
<p>Einstellungen jedes einzelnen Moduls sind unter Einstellungen &gt; Systemeinstellungen &gt; Moduleinstellungen überprüft und entsprechen den Websiteaufgaben. </p>