<p>Für die Verbindung mit der Website-Datenbank sollte ein starkes Passwort (aus mindestens 8 Zeichen, darunter Buchstaben in Groß- und Kleinschreibung, 
Ziffern und Satzzeichen) verwendet werden. Dadurch wird das Risiko eines nicht autorisierten Zugriffs auf die Datenbank minimiert. </p>

<p>Zur Verwaltung der Datenbank sollte ein Nutzer-Account mit entsprechenden Zugriffsberechtigungen erstellt werden (nicht "root"). </p>

<ol>
<li>Das Passwort der Verbindung mit der Datenbank in der Datei "/bitrix/php_interface/dbconn.php" überprüfen (Variable  "$DBPassword"). </li>
<li>Die Zugriffsberechtigungen des Accounts in der Website-Datenbank werden durch den Systemadministrator geprüft.</li> 
</ol>