<p>Manchmal kommt es vor, dass die Entwickler oder Tester bei der Einrichtung einer Website auf dem Bitrix Framework bestimmte Test-Accounts 
(etwa "test/123456") mit Administratorzugriffsrechten  oder ganze Testgruppen mit erweiterten Zugriffsrechten erstellen. Manchmal können Testseiten 
"test.php" erstellt werden, auf denen Geldbeträge der Kundenkonten, Informationen zur Systemkonfiguration oder sonstige interne Informationen bzw. 
Daten angezeigt werden. Manchmal werden sogar solche Seiten erstellt, bei denen der Nutzer, sobald er sie aufruft, sofort zum Administrator wird, 
ohne das Passwort eingeben zu müssen. Zu einer ähnlichen Situation kann es kommen, wenn Entwickler in den Website-Code Anweisungen einfügen, mit 
denen sie sich ihre Debugger-Arbeit erleichtern wollen, weil mit diesen Anweisungen Informationen und Daten über die Arbeit der Website und mögliche 
Fehler direkt an die private E-Mail-Adresse dieser Entwickler gesendet werden. </p>

<p>Es ist also sehr wichtig, alle Test-Accounts (insbesondere solche mit schwachen Passwörtern) sowie alle Testseiten zu löschen, noch bevor die 
Website gelauncht wird.</p>

<ol>
<li>Stellen Sie sicher, dass es keine Test-Accounts und Testgruppen gibt.</li>
<li> Stellen Sie sicher, dass die verbliebenen Accounts "starke" Passwörter haben. Solche Passwörter sollten mindestens 8 Zeichen, darunter Buchstaben 
in Groß- und Kleinschreibung, Ziffern und Satzzeichen enthalten.</li> 
<li> Stellen Sie sicher, dass es keine Testseiten und -Dateien gibt.</li> 
 </ol>