<p>Neue Produktversionen und Aktualisierungen des Bitrix Framework werden durch die Abteilung für Informationssicherheit von Bitrix sorgfältig getestet. 
Nichtsdestotrotz können folgende gefährliche Situationen vorkommen: </p>

<ul>
<li>Bei der Erstellung einer Website auf Basis des Bitrix Framework hat der Entwickler einige Fehler im Code gemacht.  Dadurch können Login und 
Passwort gestohlen werden, mit denen der Zugriff auf die Website und damit auch auf die vertraulichen Informationen der Website ermöglicht wird. </li>

<li>Die Websitenutzer haben bei der Anmeldung Passwörter verwendet, die einfach zu behalten aber gleichzeitig "schwach" sind (etwa "123456" und ähnliche). 
Solche Passwörter  können durch systematisches Probieren relativ einfach gefunden werden. </li> 

<li>Website-Administratoren verfügen in der Regel über einen Vollzugriff auf die Website: Sie sollen deshalb besonders darauf achten, sichere Passwörter 
zu verwenden sowie verstärkte Sicherheitsmaßnahmen zu ergreifen, wenn sie die Website verwalten (beispielsweise von einem öffentlichen Internetzugang aus). </li>

<li>Ist die Software nicht korrekt konfiguriert, können auf den Website-Seiten ausführliche Fehlerbenachrichtigungen angezeigt werden, in denen die innere
 Struktur und Pfade zu wichtigen Verzeichnissen offengelegt werden können. </li>

<li>Auch in der Software der Web-Server oder der Datenbanken  können diverse Fehler oder Sicherheitslücken enthalten sein, was die Sicherheit der Website
 ebenfalls beeinträchtigen kann. </li> 
</ul>

<p>Es ist offenkundig, dass ein vollständiger Schutz der Website komplexe Maßnahmen voraussetzt, so dass zum Website-Schutz mehrere Werkzeuge verwendet 
werden. Wenn dabei eins dieser Werkzeuge einen möglichen Angriff "übersieht", können andere Werkzeuge einen solchen Angriff dennoch abwehren. </p>

<p>Es wird empfohlen, den minimal erforderlichen Schutz der Website sicherzustellen, indem zumindest die Sicherheitsstufe "Standard" eingesetzt wird. 
Diese Stufe sieht folgende Sicherheitsmaßnahmen vor: Der proaktive Filter und die Aktivitätskontrolle sind aktiviert, hohe Sicherheitsstufe für die 
Administratoren, bei der Registrierung wird CAPTCHA benutzt, im Fehlerbericht werden die Systeminformationen nicht angezeigt. Um die Sitzungsdaten 
zu schützen (u.a. auch vor Phishing-Versuchen), mögliche Viren erfolgreich zu bekämpfen und den administrativen Bereich effektiv zu schützen, wird 
empfohlen, die Sicherheitsstufe auf "Mittel" oder "Hoch" zu setzen.  </p>

<ol>
<li>Im Bereich "Einstellungen &gt; Proaktiver Schutz &gt; Sicherheitspanel" die aktuelle Sicherheitsstufe überprüfen. Bitte darauf achten, dass alle 
Empfehlungen der Stufe "Standard" umgesetzt sind. </li>
<li>Falls erforderlich kann eine höhere Sicherheitsstufe eingestellt und dann eingesetzt werden. </li> 
</ol>
